include LICENSE
include README.md

recursive-include ppocr/utils *.*
recursive-include ppocr/data *.py
recursive-include ppocr/postprocess *.py
recursive-include ocrtools/infer *.py
recursive-include ocrtools __init__.py
recursive-include ppocr/utils/e2e_utils *.py
recursive-include ppstructure *.py
